@font-face {
    font-family: square;
    src: url(../fonts/Square.ttf);
}

@font-face {
    font-family: squareo;
    src: url(../fonts/Squareo.ttf);
}

body {
    padding: 0;
    overflow-x: hidden;
}

.canvas-container {
    width: 100vw;
    height: 100vh;
}

.splash-container {
    background: rgb(2,0,36);
    background: linear-gradient(274deg, rgba(2,0,36,1) 0%, rgba(39,39,77,1) 35%, rgba(36,74,82,1) 100%);
}

iframe {
    padding: 0;
    margin: 0;
    border: none;
    width: 50%;
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
}

#hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#hero h1 {
    color: white;
    font-family: square;
    font-size: 6em;
}

.scroll-container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-section{
  scroll-snap-align: center;
  height: 100vh;
  min-height: 36rem;
}