#hero {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    opacity: 1;
    /* background: rgb(2,0,36);
    background: linear-gradient(250deg, rgba(2,0,36,1) 0%, rgba(39,39,77,1) 35%, rgba(36,74,82,1) 100%); */
    background: rgb(28, 41, 107);
    background: radial-gradient(circle, rgba(28, 41, 107, 1) 0%, rgba(126, 43, 60, 1) 100%);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
    color: white;

    h1 {
        text-align: center;
        font-family: code_bold;
        letter-spacing: 4px;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 5px 5px black;
    }

    .hero-content {
        display: flex;
        justify-content: center;
        p {
            width: 50%;
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: $md) {
    #hero {
        padding: 1em;

        h1 {
            font-size: 36pt;
        }
    }
}
