#hero {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    opacity: 1;
    /* background: rgb(2,0,36);
    background: linear-gradient(250deg, rgba(2,0,36,1) 0%, rgba(39,39,77,1) 35%, rgba(36,74,82,1) 100%); */
    background: rgb(28, 41, 107);
    background: radial-gradient(circle, rgb(98, 98, 98) 0%, rgb(53, 53, 53) 100%);
    background-size: 400% 400%;
    animation: gradient 120s ease infinite;
    color: white;

    h1 {
        font-size: 40pt;
        text-align: center;
        font-family: code_bold;
        letter-spacing: 4px;
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 5px 5px black;
    }

    .hero-content {
        display: flex;
        justify-content: center;
        p {
            font-size: 18pt;
            width: 60%;
            text-align: center;
        }
    }

    #by {
        font-weight: 400;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: $md) and (min-width: $sm) {
    #hero {
        padding: 1em;

        h1 {
            font-size: 36pt;
        }

        .hero-content p {
            width: 80%;
            font-size: 16pt;
        }
    }
}

@media screen and (max-width: $sm) {
    #hero {
        padding: 1em;

        h1 {
            font-size: 24pt;
        }

        .hero-content p {
            width: 100%;
            padding: 10px;
        }
    }
}

@media screen and (min-width: $xxxl) and (max-width: $x4k) {
    #hero {
        padding: 5em;

        h1 {
            font-size: 80pt;
        }

        #by {
            font-size: 32pt;
        }

        .hero-content p {
            width: 100%;
            font-size: 40pt;
            margin-left: 15%;
            margin-right: 15%;
            font-weight: 200;
        }
    }
}

@media screen and (min-width: $x4k) {
    #hero {
        padding: 5em;

        h1 {
            font-size: 100pt;
        }

        #by {
            font-size: 42pt;
        }

        .hero-content p {
            width: 100%;
            font-size: 50pt;
            margin-left: 15%;
            margin-right: 15%;
            font-weight: 200;
        }
    }
}
