#hero {
    height: 100%;
    padding: 0;
    opacity: 1;
    background: rgb(28, 41, 107);
    background: radial-gradient(circle, rgb(98, 98, 98) 0%, rgb(53, 53, 53) 100%);
    background-size: 400% 400%;
    animation: gradient 120s ease infinite;
    color: white;

    .hero-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 5% 0 5% 5%;

        h1 {
            font-size: 73pt;
            font-weight: 10;
            text-align: left;
            letter-spacing: 4px;
            text-transform: uppercase;
            // offset-x | offset-y | blur-radius | color
            text-shadow: 0px 5px 5px black;
            margin: 0;
            height: 50%;
            box-sizing: border-box;
        }

        .hero-description {

            #by {
                font-weight: 300;
                font-size: 16pt;
                text-shadow: 0px 3px 3px black;
            }

            p {
                font-size: 14pt;
                text-shadow: 0px 2px 2px black;
            }
        }
    }

    // Mouse selection colors
    ::-moz-selection {
        color: blacK;
        background: white;
        text-shadow: none;
    }

    ::selection {
        color: blacK;
        background: white;
        text-shadow: none;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (min-width: $x4k) {
    #hero .hero-content {
        h1 {
            font-size: 152pt;
        }

        #by {
            font-size: 50pt;
        }

        p {
            font-size: 42pt;
        }
    }
}

@media screen and (min-width: $xxxl) and (max-width: calc($x4k - 1px)) {
    #hero .hero-content {
        h1 {
            font-size: 100pt;
        }

        #by {
            font-size: 34pt;
        }

        p {
            font-size: 28pt;
        }
    }
}

@media screen and (min-width: $xl) and (max-width: calc($xxl - 1px)) {
    #hero .hero-content {
        h1 {
            font-size: 48pt;
        }

        #by {
            font-size: 14pt;
        }

        p {
            font-size: 12pt;
        }
    }
}


@media screen and (min-width: $md) and (max-width: calc($xl - 1px)) {
    #hero .hero-content {
        width: 100%;
        padding: 5%;

        h1 {
            font-size: 30pt;
        }

        #by {
            font-size: 14pt;
        }

        p {
            font-size: 14pt;
        }
    }
}

@media screen and (min-width: $sm) and (max-width: calc($md - 1px)) {
    #hero .hero-content {
        width: 100%;
        padding: 5%;

        h1 {
            font-size: 36pt;
        }

        p {
            font-size: 18pt;
        }
    }
}

@media screen and (max-width: calc($sm - 1px)) {
    #hero .hero-content {
        width: 100%;
        padding: 5%;

        h1 {
            font-size: 26pt;
        }

        p {
            font-size: 18pt;
        }
    }
}
