.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-section {
    scroll-snap-align: center;
    height: 100vh;
    min-height: 36rem;
    opacity: 0; /* Start with zero opacity */
    animation-duration: 0.5s;
}

.fade-in { /* Applied by scroll-interactions.js */
    animation: fadeIn 0.5s ease-in-out forwards; /* Apply the animation */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}