.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-section {
    scroll-snap-align: center;
    height: 100vh;
    min-height: 36rem;
    opacity: 0; /* Start with zero opacity */
    transition-duration: 0.5s;
}

.active { /* Applied by scroll-interactions.js */
    opacity: 1;
}

@media screen and (max-width: $md) {
    .scroll-section {
        overflow-y: auto;
    }
}
