.canvas-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide-details {
    box-sizing: border-box;
    padding: 4em;
}

.slide-title {
    margin-top: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
        margin: 0;
    }

    legend {
        text-align: right;
        width: 80px;
        color: grey;
        font-size: 10pt;
        font-weight: 200;
        letter-spacing: 3px;
        margin-top: 0.4em; /* Adjust as needed */

        .legend-number {
            letter-spacing: 1px;
        }
    }
}

@media (max-width: 767.98px) {
    .scroll-section {
        overflow-y: auto;
    }

    .canvas-container {
        height: 50vh;
        width: 100%;
    }

    .slide-details {
        padding: 0 2em 1em 2em;
        width: 100%;
        font-size: 12pt;
    }
}
