.canvas-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    iframe {
        padding: 0;
        margin: 0;
        border: none;
        width: 100%;
        height: 100%;
        overflow: hidden; /* Hide scrollbars */
        opacity: 0;
        transition-duration: 0.5s;
    }
}

.slide-details {
    box-sizing: border-box;
    padding: 4em;

    .slide-title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        h2 {
            margin: 0;
        }

        /* Square typographic unit using the N° and the numbers to form a square */
        legend {
            text-align: right;
            color: grey;
            font-size: 9pt;
            font-weight: 200;
            letter-spacing: 3px;
            margin-top: 0.4em;
            font-kerning: none;

            .legend-number-header,
            .legend-number {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .slide-links {
        a {
            margin-right: 1em;
        }
    }
}

@media screen and (max-width: $md) {
    .canvas-container {
        height: 40vh;
        width: 100%;
    }

    .slide-details {
        padding: 1em;
        width: 100%;
        font-size: 12pt;

        .slide-title {
            h2 {
                font-size: 20pt;
            }

            legend {
                margin-top: 2px;
                font-size: 8pt;

                .legend-number-header {
                    margin-bottom: -2px;
                }
            }
        }
    }
}

@media screen and (min-width: $xxl){

    .slide-details {
        padding: 1em;
        font-size: 16pt;

        .slide-title {
            h2 {
                font-size: 20pt;
            }

            legend {
                margin-top: 2px;
                font-size: 8pt;

                .legend-number-header {
                    margin-bottom: -2px;
                }
            }
        }
    }
}
