@import "breakpoints";
@import "scrolling";
@import "slides";
@import "hero";
@import "spinner";

body {
    padding: 0;
    overflow-x: hidden;
    font-weight: 200;
    font-size: 14pt;
    font-family: Helvetica, sans-serif, Arial;
}

h1,
h2,
h3 {
    letter-spacing: -1px;
}

h1 {
    font-size: 46pt;
}
h2 {
    font-size: 28pt;
}

p {
    letter-spacing: -0.25px;
}

#favicon {
    display: none;
}

// Mouse selection colors
::-moz-selection {
    // Code for Firefox
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}
