body {
    margin: 0;
    display: flex;
    /* Centers our sketch horizontally. */
    justify-content: center;
    /* Centers our sketch vertically. */
    align-items: center;
    /* Hide scrollbars */
    overflow: hidden;
}

.interactable {
    cursor: pointer;
}