.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-section {
  scroll-snap-align: center;
  height: 100vh;
  min-height: 36rem;
  opacity: 0;
  transition-duration: 0.5s;
}

.active {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

@media screen and (max-width: 768px) {
  .scroll-section {
    overflow-y: auto;
  }
}
.canvas-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.canvas-container iframe {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide scrollbars */
  opacity: 0;
  transition-duration: 0.5s;
}

.slide-details {
  box-sizing: border-box;
  padding: 4em;
  height: 100%;
}
.slide-details .slide-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transform: translate(0, 100px);
  opacity: 0;
  transition-duration: 0.5s;
}
.slide-details .slide-title h2 {
  margin: 0;
}
.slide-details .slide-title legend {
  text-align: right;
  color: grey;
  font-size: 9pt;
  font-weight: 200;
  letter-spacing: 3px;
  margin-top: 0.4em;
  font-kerning: none;
}
.slide-details .slide-title legend .legend-number-header,
.slide-details .slide-title legend .legend-number {
  display: flex;
  justify-content: space-between;
}
.slide-details h3 {
  margin: 0;
  color: rgb(73, 73, 73);
  font-weight: 400;
  transform: translate(0, 100px);
  transition-duration: 0.5s;
}
.slide-details p {
  transform: translate(0, 100px);
  transition-duration: 0.55s;
  opacity: 0;
}
.slide-details br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}
.slide-details .slide-links {
  transform: translate(0, 100px);
  opacity: 0;
  transition-duration: 0.6s;
}
.slide-details .slide-links a {
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .canvas-container {
    height: 50%;
    width: 100%;
  }
  .slide-details {
    padding: 1em;
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    font-size: 12pt;
  }
  .slide-details .slide-title h2 {
    font-size: 20pt;
  }
  .slide-details .slide-title legend {
    margin-top: 2px;
    font-size: 8pt;
  }
  .slide-details .slide-title legend .legend-number-header {
    margin-bottom: -2px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3840px) {
  .slide-details {
    font-size: 30pt;
  }
  .slide-details .slide-title h2 {
    font-size: 60pt;
  }
  .slide-details .slide-title legend {
    margin-top: 10px;
    font-size: 20pt;
  }
  .slide-details h3 {
    font-size: 38pt;
  }
}
@media screen and (min-width: 3840px) {
  .slide-details {
    font-size: 42pt;
  }
  .slide-details .slide-title h2 {
    font-size: 80pt;
  }
  .slide-details .slide-title legend {
    margin-top: 14px;
    font-size: 26pt;
  }
  .slide-details h3 {
    font-size: 50pt;
  }
}
#hero {
  height: 100%;
  padding: 0;
  opacity: 1;
  background: rgb(28, 41, 107);
  background: radial-gradient(circle, rgb(98, 98, 98) 0%, rgb(53, 53, 53) 100%);
  background-size: 400% 400%;
  animation: gradient 120s ease infinite;
  color: white;
}
#hero .hero-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 5% 0 5% 5%;
}
#hero .hero-content h1 {
  font-size: 73pt;
  font-weight: 10;
  text-align: left;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0px 5px 5px black;
  margin: 0;
  height: 50%;
  box-sizing: border-box;
}
#hero .hero-content .hero-description #by {
  font-weight: 300;
  font-size: 16pt;
  text-shadow: 0px 3px 3px black;
}
#hero .hero-content .hero-description p {
  font-size: 14pt;
  text-shadow: 0px 2px 2px black;
}
#hero ::-moz-selection {
  color: blacK;
  background: white;
  text-shadow: none;
}
#hero ::selection {
  color: blacK;
  background: white;
  text-shadow: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media screen and (min-width: 3840px) {
  #hero .hero-content h1 {
    font-size: 152pt;
  }
  #hero .hero-content #by {
    font-size: 50pt;
  }
  #hero .hero-content p {
    font-size: 42pt;
  }
}
@media screen and (min-width: 2560px) and (max-width: 3839px) {
  #hero .hero-content h1 {
    font-size: 100pt;
  }
  #hero .hero-content #by {
    font-size: 34pt;
  }
  #hero .hero-content p {
    font-size: 28pt;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #hero .hero-content h1 {
    font-size: 48pt;
  }
  #hero .hero-content #by {
    font-size: 14pt;
  }
  #hero .hero-content p {
    font-size: 12pt;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #hero .hero-content {
    width: 100%;
    padding: 5%;
  }
  #hero .hero-content h1 {
    font-size: 30pt;
  }
  #hero .hero-content #by {
    font-size: 14pt;
  }
  #hero .hero-content p {
    font-size: 14pt;
  }
}
@media screen and (min-width: 568px) and (max-width: 767px) {
  #hero .hero-content {
    width: 100%;
    padding: 5%;
  }
  #hero .hero-content h1 {
    font-size: 36pt;
  }
  #hero .hero-content p {
    font-size: 18pt;
  }
}
@media screen and (max-width: 567px) {
  #hero .hero-content {
    width: 100%;
    padding: 5%;
  }
  #hero .hero-content h1 {
    font-size: 26pt;
  }
  #hero .hero-content p {
    font-size: 18pt;
  }
}
.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #b8b8b8;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Apply rotation animation */
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  padding: 0;
  overflow-x: hidden;
  font-weight: 200;
  font-size: 14pt;
  font-family: Helvetica, sans-serif, Arial;
}

h1,
h2,
h3 {
  letter-spacing: -1px;
}

h1 {
  font-size: 46pt;
}

h2 {
  font-size: 28pt;
}

p {
  letter-spacing: -0.25px;
}

#favicon {
  display: none;
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}/*# sourceMappingURL=styles.css.map */