@charset "UTF-8";
@font-face {
  font-family: code_bold;
  src: url(../fonts/CODE\ Bold.otf);
}
@font-face {
  font-family: code_light;
  src: url(../fonts/CODE\ Light.otf);
}
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-section {
  scroll-snap-align: center;
  height: 100vh;
  min-height: 36rem;
  opacity: 0; /* Start with zero opacity */
  transition-duration: 0.5s;
}

.active {
  /* Applied by scroll-interactions.js */
  opacity: 1 !important;
}

@media screen and (max-width: 768px) {
  .scroll-section {
    overflow-y: auto;
  }
}
.canvas-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.canvas-container iframe {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide scrollbars */
  opacity: 0;
  transition-duration: 0.5s;
}

.slide-details {
  box-sizing: border-box;
  padding: 4em;
}
.slide-details .slide-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* Square typographic unit using the N° and the numbers to form a square */
}
.slide-details .slide-title h2 {
  margin: 0;
}
.slide-details .slide-title legend {
  text-align: right;
  color: grey;
  font-size: 9pt;
  font-weight: 200;
  letter-spacing: 3px;
  margin-top: 0.4em;
  font-kerning: none;
}
.slide-details .slide-title legend .legend-number-header,
.slide-details .slide-title legend .legend-number {
  display: flex;
  justify-content: space-between;
}
.slide-details h3 {
  margin: 0;
  color: rgb(73, 73, 73);
  font-weight: 400;
}
.slide-details .slide-links a {
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .canvas-container {
    height: 40vh;
    width: 100%;
  }
  .slide-details {
    padding: 1em;
    width: 100%;
    font-size: 12pt;
  }
  .slide-details .slide-title h2 {
    font-size: 20pt;
  }
  .slide-details .slide-title legend {
    margin-top: 2px;
    font-size: 8pt;
  }
  .slide-details .slide-title legend .legend-number-header {
    margin-bottom: -2px;
  }
}
@media screen and (min-width: 1920px) {
  .slide-details {
    padding: 1em;
    font-size: 16pt;
  }
  .slide-details .slide-title h2 {
    font-size: 20pt;
  }
  .slide-details .slide-title legend {
    margin-top: 2px;
    font-size: 8pt;
  }
  .slide-details .slide-title legend .legend-number-header {
    margin-bottom: -2px;
  }
}
#hero {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
  opacity: 1;
  /* background: rgb(2,0,36);
  background: linear-gradient(250deg, rgba(2,0,36,1) 0%, rgba(39,39,77,1) 35%, rgba(36,74,82,1) 100%); */
  background: rgb(28, 41, 107);
  background: radial-gradient(circle, rgb(28, 41, 107) 0%, rgb(126, 43, 60) 100%);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  color: white;
}
#hero h1 {
  font-size: 40pt;
  text-align: center;
  font-family: code_bold;
  letter-spacing: 4px;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0px 5px 5px black;
}
#hero .hero-content {
  display: flex;
  justify-content: center;
}
#hero .hero-content p {
  font-size: 18pt;
  width: 60%;
  text-align: center;
}
#hero #by {
  font-weight: 400;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media screen and (max-width: 768px) and (min-width: 568px) {
  #hero {
    padding: 1em;
  }
  #hero h1 {
    font-size: 36pt;
  }
  #hero .hero-content p {
    width: 80%;
    font-size: 16pt;
  }
}
@media screen and (max-width: 568px) {
  #hero {
    padding: 1em;
  }
  #hero h1 {
    font-size: 24pt;
  }
  #hero .hero-content p {
    width: 100%;
    padding: 10px;
  }
}
.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #b8b8b8;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Apply rotation animation */
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  padding: 0;
  overflow-x: hidden;
  font-weight: 200;
  font-size: 14pt;
  font-family: Helvetica, sans-serif, Arial;
}

h1,
h2,
h3 {
  letter-spacing: -1px;
}

h1 {
  font-size: 46pt;
}

h2 {
  font-size: 28pt;
}

p {
  letter-spacing: -0.25px;
}

/* Mouse selection colors*/
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}/*# sourceMappingURL=styles.css.map */